@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Teko:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');
*{
    margin: 0%;
    padding: 0%;
}
body{
    background-image: url(file:///C:/Users/Jackson/Downloads/earlylife.png);

}
#title{
    text-align: center;
    font-family: 'Bebas Neue', cursive;
    color: white;
    font-size: 50px;
    text-shadow:
        0.07em 0 black,
        0 0.07em black,
        -0.07em 0 black,
        0 -0.07em black;
}
.nav-link{
    font-size: 30px;
    margin-right: 100px;
    margin-top: 1px;
    font-family: 'Teko', sans-serif;
    color: rgb(177, 13, 13); } 
.nav{
    border: solid 5px black;
    text-align: center;
    background: #fff;
    margin-bottom: 10px;
    font-size: 30px;
}

.header{
    color: white;
    text-shadow:
        0.07em 0 black,
        0 0.07em black,
        -0.07em 0 black,
        0 -0.07em black;
}

#pope{
    text-underline-position: below;
}
.transparent{
    background-color: rgba(255, 255, 255, .85);
    width: fit-content;
    border: black 5px solid;
    margin-bottom: 5px;
}
.para{
    color: black;
    font-size: 20px;
    margin-bottom: 4px;
    margin-left: 5px;
    font-family: 'Rubik', sans-serif;
}