@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Teko:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');


*{
    margin: 0%;
    padding: 0%;
}

h1{
    text-align: center;
    font-family: 'Bebas Neue', cursive;
    margin-bottom: 0;
    color: white;
    font-size: 50px;
}
#title2{
    text-align: center;
    font-family: 'Bebas Neue', cursive;
    color: white;
    font-size: 50px;
    text-shadow:
        0.07em 0 black,
        0 0.07em black,
        -0.07em 0 black,
        0 -0.07em black;
}


h1,h2,h3{
    color: white;
    text-shadow:
        0.07em 0 0.07em black,
        0 0.07em 0.07em black,
        -0.07em 0 0.07em black,
        0 -0.07em 0.07em black;
}

.nav-link{
    font-size: 30px;
    margin-right: 100px;
    margin-top: 1px;
    font-family: 'Teko', sans-serif;
}

    
.transparent{ 
    background-color: rgba(255, 255, 255, .85);
    width: fit-content;
    border: black 5px solid;
    margin-bottom: 5px; 
}

.career-nav{
border: solid 5px black;
text-align: center;
background: #fff;
margin-bottom: 10px;
font-size: 30px;
    }
    
    body{
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(20,31,107,1) 48%, rgba(0,0,0,1) 100%);
}

#welcome{
    font-size: 55px;
    color: white;
    font-family: 'Bebas Neue', cursive;
    margin-left: 15px;
    margin-bottom: 5px;
}

.para{
    color: white;
    font-size: 20px;
    margin-left: 5px;
    
}

.kirkman{
    width: 200px;
    height: auto;
    float: right;
    margin-right:30px;
    margin-left: 0px;
    margin-top: 0px;
}

.caption{
    text-align: right;
    margin-right: 75px;
    color: white;
}

.nav{
border: solid 5px black;
    text-align: center;
    background: #fff;
    margin-bottom: 10px;
    font-size: 30px;
}

#home{
    border: solid 5px white;
    width: fit-content;
}
#warning{
    color:red
}

.paragraph{
    color: black;
    font-size: 20px;
    margin-bottom: 4px;
    margin-left: 5px;
    font-family: 'Rubik', sans-serif;
}

#career-body{
    background-image: url(Images/career.jpg);

}

